@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 90%;
    margin: 10px auto;
    /* outline: 1px solid red; */
    text-align: center;

    & .input {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
    }

    & .btn {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
    }

    & .output {
        font-size: 24px;

        & p {
            margin-bottom: 15px;
        }
    }
}